.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

ul {
  margin: 20px;
  background: #fff;
  font-family: Montserrat, sans-serif;;
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  padding: 40px;
  box-shadow:
	  inset #009688 0 0 0 5px, 
    inset #059c8e 0 0 0 1px, 
    inset #0cab9c 0 0 0 10px, 
    inset #1fbdae 0 0 0 11px, 
    inset #8ce9ff 0 0 0 16px, 
    inset #48e4d6 0 0 0 17px, 
    inset #e5f9f7 0 0 0 21px, 
    inset #bfecf7 0 0 0 22px;
  text-shadow: 3px 3px 1px #bfecf7;
}
li {
  list-style-type: none;
  font-weight: 600;
  font-size: 22px;
}

.MuiFormControl-root {
  flex-basis: 50%;
}
.inner-form {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
button {
  margin-top: 10px;
}
.header {
  font-size: 150px;
}

.game-header {
  padding: 0;
  margin: 0 0 30px;
  text-decoration: underline;
}