.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #53687e;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

h2 {
  margin: 0 0 15px;
  font-size: 32px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

li {
  list-style-type: none;
  font-weight: 600;
}



.MuiFormControl-root {
  flex-basis: 50%;
}
.inner-form {
  display: flex;
  flex-direction: row;
  gap: 5px;
}
button {
  margin-top: 10px;
}
.header {
  font-size: 150px;
}

.game-header {
  padding: 0;
  margin: 0 0 30px;
  text-decoration: underline;
}

ul {
  padding: 0;
}

.flex-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  padding: 0px 0;
}
.flex-item {
  -ms-flex-preferred-size: calc(33.33333% - 30px);
  flex-basis: calc(33.33333% - 30px);
  margin: 0 15px 30px;
  overflow: hidden;
  border-radius: 10px;
}

.flex-item-inner {
  display: block;
  padding: 30px 20px;
  background-color: #121212;
  overflow: hidden;
  position: relative;
  min-height: 300px;
  color: #fff;
  z-index: 2;
  font-size: 14px;
}

.flex-item-inner:hover,
.flex-item-inner:hover .ag-courses-item_date {
  text-decoration: none;
  color: #FFF;
}
.flex-item-inner:hover .flex-item-bg {
  -webkit-transform: scale(10);
  -ms-transform: scale(10);
  transform: scale(10);
}

/* .flex-item:nth-child(2n) .flex-item-bg {
  background-color: #3ecd5e;
}
.flex-item:nth-child(3n) .flex-item-bg {
  background-color: #e44002;
}
.flex-item:nth-child(4n) .flex-item-bg {
  background-color: #952aff;
}
.flex-item:nth-child(5n) .flex-item-bg {
  background-color: #cd3e94;
}
.flex-item:nth-child(6n) .flex-item-bg {
  background-color: #4c49ea;
} */

.flex-item-bg {
  height: 128px;
  width: 128px;
  background-color: #4381c1;
  z-index: 1;
  position: absolute;
  top: -75px;
  right: -75px;
  border-radius: 50%;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
  z-index: -1;
}
.platform-header {
  text-transform: capitalize;
}

.css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root, label{
  color: #fff!important;
}
