.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

li {
  list-style-type: none;
  font-weight: 600;
  font-size: 16px;
}

.MuiFormControl-root {
  flex-basis: 50%;
}
.inner-form {
  display: flex;
  flex-direction: row;
  gap: 5px;
}
button {
  margin-top: 10px;
}
.header {
  font-size: 150px;
}

.game-header {
  padding: 0;
  margin: 0 0 30px;
  text-decoration: underline;
}

ul {
  padding: 0;
}

.flex-box {
  display: flex;
  align-items: stretch;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: stretch;
  flex-flow: row wrap;
}
.flex-item {
  flex-basis: 46.9%;
  margin: 5px;
  min-height: 200px;
  background: #fff;
  font-family: Montserrat, sans-serif;;
  font-size: 18px;
  line-height: 20px;
  font-weight: bold;
  padding: 15px;
  box-shadow:
	  inset #fd6195 0 0 0 5px, 
    inset #668aee 0 0 0 1px, 
    inset #5147e4 0 0 0 10px, 
    inset #642f4c 0 0 0 11px, 
    inset #da3f19 0 0 0 16px;
  text-shadow: 3px 3px 1px #bfecf7;
}
.platform-header {
  text-transform: capitalize;
}